body {
    background-color: #DFE9F5;
}

h1 {
    text-align: center;
    background-color: #7BB4E3;
    width: 630px;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

li {
    margin: 20px 0px;
}

#toda-a-lista {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.lista {
    color: #003f4d;
    width: 630px;
    margin: 10px;
    font-size: 20px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: rgb(204, 222, 241);
    box-sizing: border-box;
}

.valor-total {
    text-align:center;
    width: 630px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #C5D4E8;
    box-sizing: border-box;
    font-size: 25px;
}

.total {
    background-color: #7BB4E3;
}
